<div class="question_form">
  <%= form_for(@list) do |f| %>
  <fieldset>
    <legend> How long is your trip?</legend>
    <div class="row">
      <div class="col-sm-4">
       <select multiple class="form-control">
        <option>1 Day</option>
        <option>2 Days</option>
        <option>3 Days</option>
        <option>4 Days</option>
        <option>5 Days</option>
        <option>6 Days</option>
        <option>7 Days</option>
        <option>8 Days</option>
        <option>9 Days</option>
        <option>10 Days</option>
        <option>11 Days</option>
        <option>12 Days</option>
        <option>13 Days</option>
        <option>14 Days</option>
        <option>15 Days</option>
        <option>16 Days</option>
        <option>17 Days</option>
        <option>18 Days</option>
        <option>19 Days</option>
        <option>20 Days</option>
        <option>21 Days</option>
        <option>22 Days</option>
        <option>23 Days</option>
        <option>24 Days</option>
        <option>25 Days</option>
        <option>26 Days</option>
        <option>27 Days</option>
        <option>28 Days</option>
        <option>29 Days</option>
        <option>30 Days</option>
       </select>
       <div class="actions">
        <%= f.submit %>
       </div>
     </div>
    </div>
    </fieldset>
  <% end %>
</div>