<% provide(:about, "active") %>
<% provide(:title, "About") %>


<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3 class="heading">About this app</h3>
			<p>This application was created as a way to ease the packing process for 
				anyone travelling with infants and toddlers. If you have suggestions 
				or questions, please feel free to <a href="/contact">contact me.</a></p>
				<hr>
				<div class="row">
		             <div class="col-md-12">
			              <h3> Age & Travel Considerations</h3>
		            </div>
		            	<div class="ages">
			             	<div class="col-md-4">
				         		<h4>Ages</h4>
				         		<p>Infants, for the purposes in this application are babies in the age 
						 		range of newborn to 12 months. Toddlers are children in the age range 
						 		of 12 months to 3 years but, could even go beyond that as the needs of 
						 		most young children are very similar to that of toddlers.</p>
							</div>
							<div class="col-md-4">
								<h4>Travel Mode</h4>
								<p>This app is using the assumption that you be flying to your destination.</p>
							</div>
							<div class="col-md-4">
								<h4>Hotel</h4>
								<p>This app also assumes that you will be staying at a hotel for the 
				   				duration of the trip.</p>
							</div>
						</div>
				</div>
		</div>
		<div class="col-md-4">
		     <img alt="about" src=url"assets/tt-bg4.jpg" />	
		</div>
	</div>  
</div>						




			
