
<!DOCTYPE html>
<html lang="en">
 <head>
	
<style>

body {height:100%;
    width:100%;
    background-image: url('assets/tt-bg4.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    margin-left: 0 pixels ;
}

</style>
</head>

<p>
<%= button_to "Start Packing!",lists_path %>
</p>
</html>
