<!DOCTYPE html>
<html lang="en">
 <head>
<style>
html body #bgimage {
   background: url('tt-bg4.jpg') no-repeat center center fixed;
}
</style>
</head>
<body>
<div class="container-fluid">
  <div class="row">
  	<div class="col-sm-2"></div>
      <div class="jumbotron">
      <h4>How many Tots are You Totin'?</h4>
       <p>...</p>
         <div class="btn-group">
           <a class="btn btn-primary btn-lg" href="#" role="button">Back</a>
           <a class="btn btn-primary btn-lg" href="#" role="button">Next</a>
         </div>

    </div>
   </div>
</div>     
</body>
</html>



<!-- <div class="container">
  <h2>Pager</h2>
  <p>The .pager class provides simple pagination links (Previous/Next):</p>                  
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div> -->